h1{
    margin-left: 60%;
    margin-top: 0%;
    font-size: 5rem;
}
.or{
    font-size: 2rem;
}
body{
    font-size: 1.5rem;
    text-decoration: none;
    width: 75%;
}
 ::placeholder{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: rgb(59, 39, 39);
 }
 .link{
 
    display: inline-block;
        display: inline-block;
        background-color: rgb(22, 0, 0);
        color: rgb(255, 203, 203);
        line-height: 2.5;   
        font-size: 2rem;
        text-align: center;
        align-content: center;
        text-decoration: underline;
       
}
.link:hover{
    color: rgb(22, 22, 22);
}

table{
    size: auto;
    width: auto;
    height: auto;
    padding: 0%;
    margin: 0%;
    
} 