body{
background-color: rgb(22, 0, 0);
align-content: center;
padding: 10rem;
}

p{
color: rgb(197, 102, 102);
}

h1{
color: rgb(255, 203, 203);
font-size: 10rem;
}

button{
background-color: rgb(22, 0, 0);
outline: rgb(22, 0, 0);
font-family:import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');
}
