body{
    background-color: rgb(22, 0, 0);
    font-family: 'Major Mono Display', monospace;
    color: rgb(255, 203, 203);
    font-size: 10rem;
}


body{
    background-color: rgb(22, 0, 0);

    font-family: 'Major Mono Display', monospace;
    
   
}

table{
    height: auto;
    width: 100%;
    align-content: center;
align-items: center;
align-self: center;

}
a{

        background-color: rgb(22, 0, 0);
        color: rgb(255, 203, 203);
        line-height: 2.5;   
        font-size: 0.5rem;
      
        text-decoration: none;
       
}
a:hover{
    color: rgb(22, 22, 22);
}
thead{ 
    color: rgb(255, 203, 203);
    font-size: 1.5rem;
}
.mm{
    color: rgb(165, 165, 165);

}




html, body {
 
    background-color: rgb(22, 0, 0);
}

.carousel {
    /* position: absolute; */
    position: inherit;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    /* margin-top: 0px; */
   width: 25%;
    /* width: 50%; */
    object-position: right;
   
}

.carousel-inner {
 
    
    overflow: hidden;
    /* width: 50%; */
    margin: inherit;
    object-position: right;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    object-position: center;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 10%;
}

.carousel-control {
    /* background: rgba(0, 0, 0, 0.28); */
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 100%;
    height: 40px;
    line-height: 10%;
    /* margin: 5% -5.5% 4%; */
    position: absolute;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: initial;
    width: -50%;
}

.carousel-control.next {
    right: initial;
    width: 40%;
}

.carousel-control:hover {
    /* background: rgba(0, 0, 0, 0.8); */
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    /* margin: 0;
    padding: 0; */
    /* position: absolute; */
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: auto;
    /* z-index: 10; */
}

.carousel-indicators li {
    display: inline-block;
    /* margin: 0 5px; */
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 50%;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet 



/* #h{
    margin: 3%;
    padding: 0%;
margin-left: 70%;
   
} */
.plswork{
    color: rgb(255, 203, 203);
    font-size: 5rem;
    padding-top: 3%;
}
.plswork:link{
text-decoration: none;
}
.plswork:hover{
    color: rgb(22, 22, 22);
}

.change{
    image-orientation: 90deg;
}
#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;  
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
 
  @media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
    body{
        font-size: 1rem;
    }
    .plswork:link{
        font-size:3.75rem; 
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
      
    .plswork:link{
        font-size:3.75rem; 
    }
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
        }
        body{
            font-size: 0.75rem;
        }

    }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
    body{
        font-size: 0.5rem;
    }
    .plswork:link{
        font-size: 2.5rem;
    }
  }