body{
    background-color: rgb(22, 0, 0);
    width: auto;
    font-family: 'Major Mono Display', monospace;
}
a{
 
    display: inline-block;
        display: inline-block;
        background-color: rgb(22, 0, 0);
        color: rgb(255, 203, 203);
        line-height: 2.5;   
        font-size: 0.5rem;
        text-align: center;
        align-content: center;
        text-decoration: none;
       
}
a:hover{
    color: rgb(22, 22, 22);
}
table{
   
    size: auto;
    width: auto;
    height: auto;
    padding: 0%;
    margin: 0%;
    
}
thead{ 
    color: rgb(255, 203, 203);
    font-size: 1.5rem;
}
.mm{
    color: rgb(59, 39, 39);

}