.mine{
    background-color: rgb(22, 0, 0);
    font-family: 'Major Mono Display', monospace;
}
.plswork{
    color: rgb(255, 203, 203);
    font-size: 5rem;
    padding-top: 3%;
}
.plswork:link{
text-decoration: none;
}
.plswork:hover{
    color: rgb(22, 22, 22);
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}





